.cart{
    display: flex;
    justify-content: end; 
    margin-top: -75px;
    margin-right: 50px;
    /* background-color: aqua; */

}
IMG{
     margin-top:  -25px;
    width: 50px;
}
#Cart-item{
     margin: 6px 7px -5px 12px;
    display: flex;
    justify-content: center;
    color: rgb(230, 227, 227);
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    
}

.button{
    border: none;
    background: scroll;
    cursor: pointer;
    background-color: #d82c2c;

}

.button:hover{
    background-color: rgba(252, 12, 12, 0.164);
    color: #ffffff;
    border-radius: 10px;

    
}

 