.container{
    margin-top: 10px;
    display: flex;
    justify-content: center;


}

.container-label{
    display: flex;
    justify-content: center;
    color:#d82c2c;
     font-weight: 700;
}

.container-Quan{
    margin-top: 10px;
    display: flex;
    justify-content: start;


}

.Quan-container-label{
    margin: 10px 10px 10px 10px;
   display: flex;
   justify-content: center;
    color: white;
}
#add-Item
{
    background-color: 
    #d82c2c;
    margin-left: 10px;
    border-radius: 7px 7px;
    margin: 30px 15px
}
#Large{
    width: 40px;
    margin-left: 20px;
    
}
#Medium{
    width: 40px;
    margin-left: 20px;
    

}
#Small{
    width: 40px;
    height: 18px;
    margin-top: 20px;
    

}